.titlename {
  font-size: xx-large;
  font-weight: bolder;
}

.signup-big-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 216, 230, 0.9);
  padding-top: 20vh;
  padding-bottom: 25vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.signup-small-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(214, 214, 214, 0.9);
  padding: 30px;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.input-container {
  background-color: rgba(214, 214, 214, 0.9);
}

.input-container input,
.input-container select,
.input-container input[type="date"] {
  /* width: 100%;  */
  padding: 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: x-large;
  font-weight: bolder;
}

.input-container :hover {
  background-color: rgba(233, 233, 233, 0.9);
}

.button-container button {
  background-color: rgb(44, 176, 176);
  border: none;
  margin: 40px;
  font-size: x-large;
  font-weight: bolder;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.button-container button:hover {
  background-color: rgb(58, 158, 158);
}
