.menu-button-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 50px;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-button-content {
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  width: 500px;
  height: auto;
  /* max-width: 4000px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  right: 0;
  border: 10px solid #add1c8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.login-button-content {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 30px;
  /* width: 300px; */
  height: auto;
  /* max-width: 4000px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  right: 100px;
  border: 10px solid #add1c8;
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 40px;
}

.single-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
  gap: 10px;
}

.single-menu-button:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
  border-radius: 20px;
  /* padding: 5px; */
}
.single-menu-button:active {
  background-color: #a9a9a9;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.single-menu-button-link {
  text-decoration: none;
  color: inherit;
}

.single-menu-button-font {
  font-size: 25px;
  font-weight: 500;
}
