.userinfo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.userinfo-content {
    background-color: rgb(213, 209, 209);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

h1 {
    text-align: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 10px;
}

.userinfo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

label {
    margin-right: 10px;
}

input {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.right-side {
    background-color: rgb(191, 187, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    color: #fff;
}

.info-box {
    text-align: center;
}

.user-confirm-button {
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(157, 183, 187);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.user-confirm-button:hover {
    background-color: #2980b9;
}
