.menu-ft-item {
  background-color: rgba(255, 255, 255, 0.514);
  border: 3px solid rgb(142, 146, 253);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 80px;
}

.menu-ft-item-img-container {
  /* background-color: white; */
  /* width: 500px;  */
  height: 80%;
  overflow: hidden;
}

.menu-ft-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This resizes the image to cover the container */
  object-position: center;
}
.order-now-container a {
  text-decoration: none;
  color: #333f72;
  font-size: 28px;
}

.order-now-button {
  background-color: rgb(235, 255, 144);
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 5px solid rgb(236, 227, 91);
}

.order-now-container {
  transition: transform 0.3s ease;
}

.order-now-container:hover {
  transform: translateY(-5px);
}

.menu-ft-item-first-row {
  /* width: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.ft-title-style {
  font-size: 28px;
  /* font-family: fantasy; */
  font-weight: 800;
}
